body {
  text-align: center;
  width: 700px;
}

h2 {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.description {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 13px;
  line-height: 25px;
  color: gray;
  margin-bottom: 50px;
}

.formular {
  background-color: rgb(233, 251, 241);
  padding: 20px;
  box-shadow: 2px 2px 10px rgb(10, 78, 10);
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  border: 1px solid #ecedee;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 0px 25px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  height: 55px;
  margin-bottom: 25px;
}

select {
  background-color: rgb(215, 253, 212);
  color: #a3a3a3;
}

::placeholder {
  color: #a3a3a3;
  opacity: 0.6;
}

textarea {
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

button {
  text-align: center;
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 3px;
  padding: 12px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s all;
}

button:hover {
  background-color: rgb(161, 251, 161);
  color: black;
  border: 6px groove rgb(117, 209, 117);
}

.half-size {
  width: 48%;
}

#fname, #mail, #countries {
  float: left;
}

#lname, #telephone, #courses {
  float: right;
}