body {
  text-align: center;
  margin: 20px;
  width: 1200px;
}

ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

li {
  background-color: rgb(251, 249, 249);
  width: 330px;
  margin-bottom: 30px;
  display: inline;
  padding: 20px;
}
i {
  color: green;
  border: 3px solid green;
  border-radius: 50%;
  padding: 15px;
  font-size: 22px;
  margin-bottom: -10px;
}

h3 {
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: green;
}