body {
  margin: 20px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 30px;
}

ul li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
}

li a {
  display: inline-block;
  background-color: rgb(68, 202, 216);
  color: azure;

  border: 2px solid rgb(68, 202, 216);
  border-radius: 2px;

  letter-spacing: 1px;
  padding: 2px 5px;

  text-decoration: none;
  transition: 0.5s all;
}

a:hover {
  background-color: beige;
  color: brown;
  border: 2px dashed white;
}