body {
  text-align: center;
  width: 100%;
  margin: 20px;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(170, 170, 170);
  margin-bottom: 50px;
}

.symbol-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.symbol-list a img {
  width: 50px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: small;
  color: black;
}

a:hover {
  color: green;
}